/* TABLA DE EGRESADOS */
.acciones {
    display: flex;
    gap: 8px;
}

.btn-editar {
    background-color: #ffc107;
    color: #000;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.btn-editar:hover {
    background-color: #e0a800;
}

.btn-eliminar {
    background-color: #dc3545;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-eliminar:hover {
    background-color: #b02a37;
}
