table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #003366;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.acciones {
    display: flex;
    gap: 8px;
}

.btn-editar {
    background-color: #ffc107;
    color: #000;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.btn-editar:hover {
    background-color: #e0a800;
}

.form-eliminar {
    display: inline;
}

.btn-eliminar {
    background-color: #dc3545;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.btn-eliminar:hover {
    background-color: #b02a37;
}
