.inicio {
    text-align: center;
    margin-top: 50px;
}

.btn-login {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    border-radius: 6px;
    background-color: var(--verde-medio);
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: var(--verde-oscuro);
}
