<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seguimiento de Egresados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container inicio">
        <h1>Seguimiento de Egresados</h1>
        <p>Control y seguimiento de egresados de la UES San José del Rincón</p>

        <a class="btn-login" href="{{ url_for('auth.login') }}">Iniciar Sesión</a>
    </div>
</body>
</html>
